.container {
    margin-top: 20px;
    margin-left: 150px;
    font-family: Inter;
    padding: 20px;
    background-color: rgba(89, 89, 231, 0.312);
    border-radius: 20px;
    width: 75%;
}
.details{
    
    text-align: center;
}