<div>
  <app-navbar></app-navbar>
  <div class="container">
    <div>
      <h3 class="details-header">Account details</h3>
      <div class="Details">
        <p>Fullname: {{ user.fullName }}</p>
        <p>username: {{ user.username }}</p>
        <p>email: {{ user.email }}</p>
        <p>phone: {{ user.phone }}</p>
      </div>
    </div>
    <div>
      <div class="table-main-header">currently you have these reservations :</div>
      <table class="table-container">
        <thead>
          <tr>
            <th><h4>Meeting room name</h4></th>
            <th><h4>day of reservation</h4></th>
            <th><h4>hours</h4></th>
            <th><h4>purpose</h4></th>
            <th><h4>Actions</h4></th>
          </tr>
        </thead>
        <tbody *ngFor="let userReservation of userReservations">
          <tr>
            <td>{{ userReservation.meetingRoom }}</td>
            <td>{{ userReservation.day }}</td>
            <td>{{ userReservation.reservedHours }}</td>
            <td>{{ userReservation.purpose }}</td>
            <td>
              <button (click)="deleteReservation(userReservation)" class="button">
                Delete
              </button>
              <button (click)="openPopup(userReservation)" class="button">Modify</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closePopup()">&times;</span>
    <app-modify-calendar  [modifiedreservation]="selectedReservation"></app-modify-calendar>
  </div>
</div>